.bg-img {
  &-galaxy {
    background-image: url('../images/galaxy.jpg');
  }
  &-pexels-lumn {
    background-image: url('../images/pexels-lumn.jpg');
  }
  &-pexels-scott-webb {
    background-image: url('../images/pexels-scott-webb.jpg');
  }
  &-pexels-lorenzo {
    background-image: url('../images/pexels-lorenzo.jpg');
  }
  &-pexels-sasha-martynov {
    background-image: url('../images/pexels-sasha-martynov.jpg');
  }
  &-pexels-tirachard-kumtanom {
    background-image: url('../images/pexels-tirachard-kumtanom.jpg');
  }
  &-pexels-lukas {
    background-image: url('../images/pexels-lukas.jpg');
  }

  &-no-repeat {
    background-repeat: no-repeat;
  }
  &-repeat {
    background-repeat: repeat;
  }
  &-repeat-x {
    background-repeat: repeat-x;
  }
  &-repeat-y {
    background-repeat: repeat-y;
  }
  &-size {
    &-cover {
      background-size: cover;
    }
    &-contain {
      background-size: contain;
    }
  }
  
  &-position {
    &-c {
      background-position: center;
    }
    &-ct {
      background-position: center top;
    }
    &-cb {
      background-position: center bottom;
    }
    &-rt {
      background-position: right top;
    }
    &-rc {
      background-position: right center;
    }
    &-rb {
      background-position: right bottom;
    }
    &-lt {
      background-position: left top;
    }
    &-lc {
      background-position: left center;
    }
    &-lb {
      background-position: left bottom;
    }
  }
}
