// Tipo de letra para código
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// definición de los tipos de letra que podremos usar
.font-firacode {
  font-family: 'Fira Code', monospace !important;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}
.font-montserrat {
  font-family: 'Playfair Display', serif !important;
}

// definición de los tamaños de letra
@each $size in [1, 2, 3, 4, 5] {
  .font-size-#{$size}x {
    font-size: $size + rem;
  }
}

// definiendo el tipo de letra para toda la página
body, html {
  font-family: 'Playfair Display', serif;
}