// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colores Personalizado
$laravel: #ff2d20 !default;
$angular: #1976d2 !default;
$bootstrap: #7952b3 !default;
$vuejs: #42b983 !default;
$git: #f14e32 !default;
$gulp: #cf4647 !default;

// lista de colores para
$new-colors: () !default;
$new-colors: map-merge(
  (
    "laravel": $laravel,
    "angular": $angular,
    "bootstrap": $bootstrap,
    "vuejs": $vuejs,
    "git": $git,
    "gulp": $gulp,
  ),
  $new-colors
);
